#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

}

#buttons {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 0.5em auto;
}

#game {
    display: grid;
    width: 320px;
    height: 320px;
    margin: 0 auto;
}

.square {
    background-color:white;
    border: 1px solid rgb(43, 42, 42);
}

button {
font-size: 1.1em;
border: 2px solid #e28743;
margin: 0.15em 0;
background-color: #002144;
color: #e28743;
text-transform: uppercase;
border-radius: 0.25em;
cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    background-color: #0021441f;
}

body {
    background-color:#031930;
    
}

@media only screen and (min-width: 425px) and (max-width: 629px) {
    #game {
        width: 370px;
        height: 370px;
    }

    #buttons {
        width: 370px;
    }
}

@media only screen and (min-width: 630px) and (max-width: 730px) {
    #game {
        width: 470px;
        height: 470px;
    }

    #buttons {
        width: 470px;
    }

}

@media only screen and (min-width: 731px) and (max-width: 1230px) {
    #game {
        width: 570px;
        height: 570px;
    }

    #buttons {
        width: 570px;
    }

    #container {
        display: flex;
        justify-content: center;
        width: 100%;
    
    }

}

@media only screen and (min-width: 1231px) {
    #game {
        width: 600px;
        height: 600px;
    }

    #buttons {
        justify-content: center;
        font-size: 1.3em;
    }

    button {
        margin: 1em 0;
    }

    #container {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
    
    }

}




